body {
  background-color: bisque;
  color: cadetblue;
  font-family: Arial;
  text-align: center;
}
h1 {
  border-bottom-style: solid;
}
h2 {
  border-bottom-style: solid;
}
a {
  color: deeppink;
} /*
.headings {
  text-shadow: 2px 2px #4c00ff;
} */
.list-skills {
  display: flex;
  justify-content: center;
}
#list {
  list-style-type: square;
  width: fit-content;
}
/* @media (min-width: 768px) {
  .container1 {
    display: flex;
    border: 1px #cc solid;
    padding: 10px;
    justify-content: space-between;
    background-color: #202021;
  }
} */

.one {
  width: 23%;
  background-color: #34343c;
}
.two {
  width: 23%;
  background-color: #34343c;
}
.three {
  width: 23%;
  background-color: #34343c;
}
.four {
  width: 23%;
  background-color: #34343c;
}
